@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Kumbh+Sans:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Kumbh+Sans:wght@400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&family=Poppins:wght@400;500;600;700;800&display=swap');
.khus{
    font-family: 'Kumbh Sans', sans-serif;
}
.nun{
    font-family: 'Nunito Sans', sans-serif;
}
.bg-box{
    background: linear-gradient(250deg, #E78700 0.31%, #FB9300 55.77%, #FFC87E 100%);    
}
.bgg{
    background: linear-gradient(95deg, #FB9300 0%, #FC9402 100%);
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }